*{margin:0;
  padding:0;
  border-sizing:border-box;
  }
  .container{width:90%;
             margin:0 auto;
	    }
.row{display:flex;
margin:2% 0;
justify-content:center;
	}
.image{width:30%;
      padding:0 15px;
	   }
.icon{
	width:30%;
	padding:0 15%;
	font-size:150%;
	}
.content{display:flex;
justify-content:center;		
	}
.text{width:40;
padding:0 15px;
	
}